Options -Indexes
AddDefaultCharset UTF-8

<FilesMatch "^(_layout|_layout_end|auth|config)\.php$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>
